<div class="box">
    <img src="/assets/images/tilapia.png" alt="salmon" class="photo">
    <div class="infos">
        <div class="title">
            <h6>FILE • SALMÃO</h6>
            <h5>{{item.nome}}</h5>
        </div>
        <div class="values">
            <div class="price">
                <h6>PREÇO</h6>
                <h5>{{item.preco}}</h5>
            </div>
            <div class="weight">
                <h6>PESO</h6>
                <h5>800g</h5>
            </div>
        </div>
        <button class="add-button" (click)="navigateToPurchase()">
            <p>VER PRODUTO</p>
            <img src="/assets/images/shopcart_2.svg"alt="buyingICon">
        </button>
    </div>
</div>