<div class="infoSection">

    <div class="info">
        <h1 class="title">PEIXES ESPECIAIS</h1>


        <p class="infoText">
            Peixes selecionados com qualidade garantida! Trabalhamos com os melhores pescados, sempre frescos e bem armazenados para oferecer o melhor sabor e segurança. Nossa seleção é feita com rigor, garantindo peixes de textura firme, coloração vibrante e aroma natural. Se você busca qualidade e confiança, conte com a gente para levar os melhores peixes à sua mesa!
        </p>

        <div class="infoButton" (click)="navigateToStore()">
            <img src="/assets/images/externalLink.svg" alt="ir para a página" class="infoButtonIcon">
            <h3 class="infoButtonText">Venha Conhecer!</h3>
        </div>
    </div>

    <img src="/assets/images/infoSection_img.svg" alt="ilustração" class="infoImg">
</div>