<main class="main">
  <div class="rogers">
    <div class="igarata">
      <div class="title">
        <h1>PESCADOS</h1>
        <h4>
          Experimente a maior variedade de frutos do mar e pescados do mercado.
          Desfrute de iguarias como tilápia premiada, salmão grelhado, entre
          muitos outros
        </h4>
      </div>
      <store-product-options></store-product-options>
    </div>
    <div class="salmon">
      <img
        src="/assets/images/salmonPlate.png"
        alt="salmonPlate"
        class="salmonPlate"
      />
    </div>
  </div>
  <div class="ruberts">
    <div class="filter">
      <store-filter></store-filter>
    </div>
    <div class="products">
        <store-products></store-products>
    </div>
  </div>
</main>
