<div class="bestOffers">
    <h1 class="title">VEJA MAIS OFERTAS</h1>

    <div class="cards">
        <div class="card" *ngFor="let item of items">
            <div class="cardImage">
                <img src={{item.image}} alt="imagem do produto"/>
            </div>

            <div class="itemDesc">
                <h3 class="productName">{{item.name}}</h3>

                <h4 class="productPrice">R${{item.price}} /Kg</h4>
            </div>

            <div class="button" (click)="addToShopCart(item)">Comprar Agora!</div>
        </div>
    </div>

    <button class="moreItems" (click)="navigateToStore()">
        <img src="/assets/images/plus.png" alt="mais produtos" class="moreItemsIcon">
        <h3 class="moreItemsText">Ver Mais Produtos</h3>
    </button>
</div>