<div class="bestOffers">
    <h1 class="title">VEJA MAIS OFERTAS</h1>

    <div class="cards">
        <div class="card" *ngFor="let product of products">
            <div class="cardImage">
                <img src="/assets/images/tilapia.png" alt="imagem do produto"/>
            </div>

            <div class="itemDesc">
                <h3 class="productName">{{product.nome}}</h3>

                <h4 class="productPrice">R${{product.preco}} /Kg</h4>
            </div>

            <div class="button" (click)="navigateToPurchase()">Comprar Agora!</div>
        </div>
    </div>

    <button class="moreItems" (click)="navigateToStore()">
        <img src="/assets/images/plus.png" alt="mais produtos" class="moreItemsIcon">
        <h3 class="moreItemsText">Ver Mais Produtos</h3>
    </button>
</div>