<div class="box">
<div class="balls">
    <div class="ball">
        <img src="/assets/images/shrimp.png"alt="shrimp">
        <p>Camarão</p>
    </div>
    <div class="ball">
        <img src="/assets/images/salmon.png"alt="shrimp">
        <p>Salmão</p>
    </div>
    <div class="ball">
        <img src="/assets/images/tileipia.png"alt="shrimp">
        <p>Tilápia</p>
    </div>
    <div class="ball">
        <img src="/assets/images/saintPeter.png"alt="shrimp">
        <p>Saint Peter</p>
    </div>
</div>
</div>