<div class="shopCart">
    <div class="itemsTable">
        <div class="itemsTableHeader">
            <h1 class="itemsTableTitle">Seu Carrinho</h1>
            <h2 class="itemCounter">Itens: {{totalItems()}}</h2>
        </div>

        <div class="tableDesc">
            <h3 class="columnDesc">ITEM</h3>
            <h3 class="columnDesc">VALOR</h3>
        </div>

        <ng-container *ngIf="products.length > 0; else noItems">
            <ng-template *ngTemplateOutlet="itemsTable"></ng-template>
        </ng-container>

        <ng-template #itemsTable>
            <div class="items">
                <div class="item" *ngFor="let product of products">
                    <div class="itemImg">
                        <img src="/assets/images/tilapia.png" alt="imagem do item" class="img">
                    </div>
                    <div class="itemDesc">
                        <span class="itemName">{{product.nome}}</span>
                        <div class="itemQuant">
                            <p>Quantidade:</p>
                            <div class="minus" (click)="decreaseQuant(product)">
                                <img src="/assets/images/plusButton (2).png"/>
                            </div>
                            <p class="quant">
                                {{ product.quantidade }}
                            </p>
                            <div class="plus" (click)="increaseQuant(product)">
                                <img src="/assets/images/plusButton (1).png"/>
                            </div>
                        </div>
                        <button class="removeItem" (click)="removeItem(product.id)">
                            Remover Item
                        </button>
                    </div>
                    <div class="itemPrice">
                        R${{product.preco.toFixed(2)}}
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #noItems>
            <div class="noItemsTable">
                <h1 class="noItemsTitle">VOCÊ NÃO POSSUI ITENS NO SEU CARRINHO</h1>

                <h2 class="noItemsSubtitle">Explore nossa seção de produtos</h2>

                <button class="button" (click)="navigateToStore()">
                    <img src="/assets/images/shopcart_1.svg" alt="carrinho"/>
                    Ver todos os produtos
                </button>
            </div>
        </ng-template>
    </div>

    <div class="purchaseSummary">
        <div class="purchaseTable">
            <div class="purchaseTableHeader">
                <h1 class="purchaseTableTitle">RESUMO DO CARRINHO</h1>
            </div>

            <div class="purchaseTableItems">
                <div class="purchaseTableItem" *ngFor="let product of products">
                    <span class="summaryItemName">
                        {{product.nome}} {{ product.quantidade }}
                    </span>

                    <span class="itemPrice">
                        R${{ productValue(product) }}
                    </span>
                </div>
            </div>

            <div class="purchaseValue">
                <span class="purchaseValueText">
                    TOTAL A PAGAR
                </span>

                <span class="purchaseValueText">
                    R${{totalValue()}}
                </span>
            </div>
        </div>

        <button class="finishPurchase" *ngIf="products.length > 0" >
            Finalizar Compra
        </button>
    </div>
</div>