<div class="clientSection">
    <img src="/assets/images/neymar.svg" alt="ilustração" class="infoImg">

    <div class="info">
        <h1 class="title">NOSSOS CLIENTES</h1>


        <p class="infoText">
            O craque Neymar recomenda a Atlântida Pescados! "Qualidade faz toda a diferença, e com a Atlântida Pescados, eu sei que estou escolhendo o melhor!" Frescor, sabor e excelência são a nossa marca, e ninguém melhor que ele para garantir isso. Se até o Neymar confia, você também pode! Experimente os peixes selecionados da Atlântida Pescados e leve o melhor para sua mesa.
        </p>

        <div class="infoButton">
            <img src="/assets/images/externalLink_blue.svg" alt="ir para a página" class="infoButtonIcon">
            <h3 class="infoButtonText">Venha Conhecer!</h3>
        </div>
    </div>
</div>