<div class="box" *ngIf="product">
  <div class="images">
    <div class="mainImg">
      <img src="/assets/images/salmãoGrande (1).png" alt="salmaoTitulo" />
    </div>
    <div class="alt-images">
      <img src="/assets/images/embalagem (1).png" alt="salmaoEmbalado" />
      <img src="/assets/images/receita (1).png" alt="salmãoTotoso" />
    </div>
  </div>
  <div class="description">
    <div class="title">
      <h6>FILÉ • SALMÃO</h6>
      <h4>{{ product.nome }}</h4>
    </div>
    <div class="values">
      <div class="price">
        <h6>PREÇO</h6>
        <h5>R${{ product.preco }}</h5>
      </div>
      <div class="weight">
        <h6>PESO</h6>
        <h5>800g</h5>
      </div>
    </div>
    <div class="purchaseInfos">
      <div class="quantity">
        <div class="minus" (click)="decreaseQuant()">
          <img src="/assets/images/plusButton (2).png"/>
        </div>
        <div class="number">
          <h6>{{ quantity }}</h6>
        </div>
        <div class="plus" (click)="increaseQuant()">
          <img src="/assets/images/plusButton (1).png"/>
        </div>
      </div>
      <div class="addToCart" (click)="addToShopCart(product.id, quantity)">
            <img src="/assets/images/Add Shopping Cart.png">
            <h4>Comprar Agora</h4>
      </div>
    </div>
    <div class="productDescriptions">
        <h6>MAIS INFORMAÇÕES</h6>
        <h5>O Filé de Salmão Atlântida é um dos cortes mais apreciados do salmão, conhecido por sua carne macia, suculenta e rica em sabor. Originado do salmão-do-Atlântico (Salmo salar), esse filé possui uma coloração rosada vibrante devido à presença de astaxantina, um antioxidante natural encontrado na dieta desse peixe.</h5>
    </div>
    <div class="detailments"></div>
  </div>
</div>
