<table>
  <thead>
    <tr>
      <th>Ações</th>
      <th>Nome</th>
      <th>Descriçãp</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Validade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="icons">
        <button class="action-btn">
          <img src="/assets/images/icon1.png" alt="icon1" class="icon1" />
        </button>
        <button class="action-btn">
          <img src="/assets/images/icon2.png" alt="logo" class="icon2" />
        </button>
        <button class="action-btn">
            <img src="/assets/images/icon3.png" alt="logo" class="icon3" />
          </button>
        </div>
      </td>
      <td>Tilápia</td>
      <td>Uma Tilápia</td>
      <td>64.99</td>
      <td>64.99</td>
      <td>21/04/2025</td>
    </tr>
    <tr>
      <td>
        <div class="icons">
            <button class="action-btn">
              <img src="/assets/images/icon1.png" alt="icon1" class="icon1" />
            </button>
            <button class="action-btn">
              <img src="/assets/images/icon2.png" alt="logo" class="icon2" />
            </button>
            <button class="action-btn">
                <img src="/assets/images/icon3.png" alt="logo" class="icon3" />
              </button>
            </div>
      </td>
      <td>Tilápia</td>
      <td>Uma Tilápia</td>
      <td>64.99</td>
      <td>64.99</td>
      <td>21/04/2025</td>
    </tr>
    <tr>
      <td>
        <div class="icons">
            <button class="action-btn">
              <img src="/assets/images/icon1.png" alt="icon1" class="icon1" />
            </button>
            <button class="action-btn">
              <img src="/assets/images/icon2.png" alt="logo" class="icon2" />
            </button>
            <button class="action-btn">
                <img src="/assets/images/icon3.png" alt="logo" class="icon3" />
              </button>
            </div>
      </td>
      <td>Tilápia</td>
      <td>Uma Tilápia</td>
      <td>64.99</td>
      <td>64.99</td>
      <td>21/04/2025</td>
    </tr>
    <tr>
      <td>
        <div class="icons">
            <button class="action-btn">
              <img src="/assets/images/icon1.png" alt="icon1" class="icon1" />
            </button>
            <button class="action-btn">
              <img src="/assets/images/icon2.png" alt="logo" class="icon2" />
            </button>
            <button class="action-btn">
                <img src="/assets/images/icon3.png" alt="logo" class="icon3" />
              </button>
            </div>
      </td>
      <td>Tilápia</td>
      <td>Uma Tilápia</td>
      <td>64.99</td>
      <td>64.99</td>
      <td>21/04/2025</td>
    </tr>
    <tr>
      <td>
        <div class="icons">
            <button class="action-btn">
              <img src="/assets/images/icon1.png" alt="icon1" class="icon1" />
            </button>
            <button class="action-btn">
              <img src="/assets/images/icon2.png" alt="logo" class="icon2" />
            </button>
            <button class="action-btn">
                <img src="/assets/images/icon3.png" alt="logo" class="icon3" />
              </button>
            </div>
      </td>
      <td>Tilápia</td>
      <td>Uma Tilápia</td>
      <td>64.99</td>
      <td>64.99</td>
      <td>21/04/2025</td>
    </tr>
  </tbody>
</table>
