.infoSection {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #B7D0E1;
}

.info {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: inter-black;
    font-size: 46px;
    color: #194569;
    letter-spacing: 3px;
}

.infoText {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #194569;
}

.infoButton {
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #194569;
    transition: 0.3s;
    user-select: none;
}

.infoButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.infoButton:active {
    background-color: #13344f;
    transform: scale(1);
}

.infoButtonIcon {
    width: 30px;
}

.infoButtonText {
    font-size: 24px;
    color: white;
}

.infoImg {
    height: 450px;
}