<div class="infoSection">
  <div class="info">
    <h1 class="title">SELO ATLÂNTIDA</h1>

    <p class="infoText">
      O Selo de Qualidade Atlantis garante que cada produto chegue à sua mesa
      com frescor, segurança e sustentabilidade. Selecionamos os melhores
      pescados, processamos com tecnologia avançada e seguimos rigorosos padrões
      de qualidade. Após a inspeção, os filés são embalados e transportados em
      sistemas refrigerados para preservar o sabor e os nutrientes. Disponíveis
      nos melhores supermercados e plataformas de delivery, nossos produtos
      chegam prontos para você saborear com confiança e praticidade.
    </p>
  </div>

  <img
    src="/assets/images/image (5).png"
    alt="ilustração"
    class="infoImg"
  />
</div>
