<footer class="footer">
    <div class="content">
        <ul class="links">
            <li><a href="#" class="link">Entrar na loja</a></li>
            <li><a href="#" class="link">Contato</a></li>
            <li><a href="#" class="link">Voltar ao início</a></li>
        </ul>

        <img src="/assets/images/logo.svg" alt="logo" class="logo">
    </div>

    <h5 class="copyright">© 2025 Atlântida Pescados - Todos os direitos reservados. Este site foi feito especialmente para o projeto de E-Commerce da aula de DAD.</h5>
</footer>