<footer class="footer">
    <div class="sideLogo">
        <img src="/assets/images/logo.svg" alt="logo" class="logo"/>
    </div>

    <div class="content">
        <h5 class="copyright">© 2025 Atlântida Pescados - Todos os direitos reservados. Este site foi feito especialmente para o projeto de E-Commerce da aula de DAD.</h5>

        <ul class="links">
            <li><a class="link" (click)="goToStore()">Entrar na loja</a></li>
            <li><a class="link">Contato</a></li>
            <li><a class="link" (click)="goToLanding()">Voltar ao início</a></li>
        </ul>
    </div>

    <div class="sideLogo">
        <img src="/assets/images/logo.svg" alt="logo" class="logo"/>
    </div>
</footer>